body {
  background-color: #f0b27a;
  margin: 0;
}

:global(#root) {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.base-button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #a04000;
  color: #fae5d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.base-button:hover {
  background: #af601a;
}

.base-button:active {
  background: #ca6f1e;
}

.flex {
  display: flex;
  align-items: center;
  padding: 20px;
}
