.gui {
    min-width: 45%;
    align-self: center;
    min-height: 40vh;
    /* background-color: gray; */
    display: flex;
    justify-content: end;
}

.frame {
    margin-right: 24px;
    border: 4px solid black;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fae5d3;
    flex-grow: 1;
}

.status {
    font-size: 1.5rem;
    margin: 20px 0;
}

.reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #a04000;
    color: #fae5d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button:hover {
    background: #af601a;
}

.reset-button:active {
    background: #ca6f1e;
}
