.game {
    box-sizing: border-box;
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    padding: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

.cell {
    font-size: 2rem;
    background: #fae5d3;
    border: 4px solid #e67e22;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    color: #fadbd8;
}

.cell:disabled {
    background: #fadbd8;
    color: #d35400;
    cursor: default;
}
