body {
  background-color: #f0b27a;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.game {
  box-sizing: border-box;
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  padding: 20px;
}

.gui {
  min-width: 45%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  min-height: 40vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

.cell {
  font-size: 2rem;
  background: #fae5d3;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background 0.3s;
  color: #d35400;
}

.cell:disabled {
  background: #fadbd8;
  cursor: default;
}

.status {
  font-size: 1.5rem;
  margin: 20px 0;
}

.reset-button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #a04000;
  color: #fae5d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background: #af601a;
}
